# Port that the server runs on
PORT="5000"

# Node Enviroment
NODE_ENV="dev"

# Secret Key
SECRET_KEY="secret"

# Twitch Auth for IGDB
# Should launch without but all /games endpoints will fail
# TWITCH_CLIENT_ID=""
# TWITCH_SECRET=""
# TWITCH_TOKEN=""